<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>HTH Industries</title>

        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link href="assets/css/owl.carousel.css" rel="stylesheet">
        <link href="assets/css/owl.carousel.theme.min.css" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body data-spy="scroll" data-target="#main-navbar">

        <!-- NavigationBar Section -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">
                    <img class="img-responsive" src="../images/logo.png" alt="logo">
                  </a>
                </div>

               <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navbar">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/home#header">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="/users/home#choose">About us</a></li>
                    <li><a href="/users/home#services">Services</a></li>
                    <li  class="active"><a href="/users/home#industries">Industries</a>
                    <ul class="teamdd">
                        <li><a href="/users/industries">All Industries</a></li>
                    </ul></li>
                    <li><a href="/users/home#team">Our Team</a>
                    <ul class="teamdd">
                        <li><a href="/users/team">All Team Members</a></li>
                    </ul></li>
                    <li><a href="/users/home#clients">Careers</a></li>
                    <li><a href="/users/home#contact">Contact</a></li>
                     {{#if user}}
                    <li><a href="/">Client Portal</a></li>
                    {{else}}
                    <li><a href="/users/login">Client Portal</a></li>
                    {{/if}}
                    
                  </ul>
                </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                </nav>
                    <section id="clients" class="clients">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box" style="margin-bottom: 0px;">
                                <h2 class="section-title">All Industries</h2>
                            </div>
                        </div>
                    </div>
            </section>
      <div class="container">
      <div class="row" style="margin: auto; width: 50%; font-size: large;">
           <ul class = "content-focus-detail"> 
           <section id="manufacturing" class="manufacturing" style="margin-bottom: 0px; padding:0px;">
                <li>Construction</li>
                <ul>
                    <li>General Building Contractors</li>
                    <li>Home Builders</li>
                    <li>Subcontractors</li>
                    <li>Architects</li>
                </ul>
            </br>
        </section>
        <section id="realestate" class="realestate" style="margin-bottom: 0px; padding:0px;">
                <li>Manufacturing</li>
                <ul>
                    <li>Fabricated Metals</li>
                    <li>Medical Devices</li>
                    <li>Furniture and Fixtures</li>
                    <li>Lumber and Woods</li>
                </ul>
                </br>
                </section>
                <section id="hospitality" class="hospitality" style="margin-bottom: 0px; padding:0px;">
                <li>Real Estate</li>
                <ul>
                    <li>Mortgage and Real Estate Brokers</li>
                    <li>Developers</li>
                    <li>Property Management</li>
                    <li>Building Acquisition and Construction</li>
                </ul>
                </br>
                </section>
                <section id="professionalservices" class="professionalservices" style="margin-bottom: 0px; padding:0px;">
                <li>Hospitality</li>
                <ul>
                    <li>Restaurants</li>
                    <li>Lodging</li>
                    <li>Event Planning</li>
                    <li>Recreation</li>
                </ul>
                </br>
                </section>
                <section id="technology" class="technology" style="margin-bottom: 0px; padding:0px;">
                <li>Professional Services</li>
                <ul>
                    <li>Consulting</li>
                    <li>Legal</li>
                    <li>Engineering</li>
                    <li>Architectural</li>
                    <li>Investing</li>
                    <li>Medical</li>
                    <li>Dental</li>
                    <li>Entertainment</li>
                    <li>Advertising</li>
                </ul>
                </br>
                </section>
                <li>Technology</li>
                <ul>
                    <li>Technology Services</li>
                    <li>Information and Communications</li>
                    <li>Research and Development</li>
                    <li>Distribution of Technology</li>
                </ul>
           </ul>  
        </div>
    </br></br>

                </div>

        <!-- Footer -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-social">
                                <a href="https://www.facebook.com/Hopkins-Tameron-Hostal-582836651925232/" target="_blank"><i class="ion-social-facebook"></i></a>
                                <a href="https://www.linkedin.com/company/16232649/" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        
        <!-- Scripts -->
        <script src="assets/js/jquery-1.12.3.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/script.js"></script>
    </body>
</html>
