<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>HTH Lloyd J. Levidow</title>

        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link href="assets/css/owl.carousel.css" rel="stylesheet">
        <link href="assets/css/owl.carousel.theme.min.css" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body data-spy="scroll" data-target="#main-navbar">

        <!-- NavigationBar Section -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">
                    <img class="img-responsive" src="../images/logo.png" alt="logo">
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navbar">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/home#header">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="/users/home#choose">About us</a></li>
                    <li><a href="/users/home#services">Services</a></li>
                    <li><a href="#industries">Industries</a>
                     <ul class="teamdd">
                        <li><a href="/users/industries">All Industries</a></li>
                    </ul></li>
                    <li class="active"><a href="/users/home#team">Our Team</a>
                    <ul class="teamdd">
                        <li><a href="/users/team">All Team Members</a></li>
                    </ul></li>
                    <li><a href="/users/home#clients">Careers</a></li>
                    <li><a href="/users/home#contact">Contact</a></li>
                     {{#if user}}
                    <li><a href="/">Client Portal</a></li>
                    {{else}}
                    <li><a href="/users/login">Client Portal</a></li>
                    {{/if}}
                    
                  </ul>
                </div><!-- /.navbar-collapse -->
                </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                </nav>
				            <section id="clients" class="clients">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box">
                                <h1 class="section-title">LLOYD J LEVIDOW, CPA</h2>
                            </div>
                        </div>
                    </div>
            </section>
			<div class="container">
			<div class="row">
                        <div class="col-sm-5">
                            <div class="team-box">
                               <!-- <img class="img-responsive img-full" src="../images/team-1.jpg" alt="team"> -->
                            </div>
                        </div>
						<div class="col-sm-7">
                            <div class="team-box">
                                <div class="team-detail">
                                    <ul>
                                        <li><h2>Lloyd J. Levidow, CPA</h2></li>
                                        <li><h3>Partner</h3></li>
										<li><h4>lloyd.levidow@hthlevidow.com</h4></li>
										<li><h4>x1014</h4></li>
<p class="individual-team-member">Lloyd Levidow is a founding partner of this firm and has over 37 years of wide‐ranging experience and expertise.   Born and raised in New York, he moved to Scottsdale, Arizona in 1996 and opened his former practice, Lloyd J Levidow, CPA, PC.   </p>

<p class="individual-team-member">Lloyd specializes in providing tax compliance, consulting, and in‐depth planning to clients with small to medium sized businesses including:   financial services, real estate (commercial and residential), hospitality, professional service and a variety of other business ventures.  Lloyd takes prides in delivering high quality service, in a timely manner, which his clients have come to expect. </p>

<p class="individual-team-member">Lloyd is an avid New York Jets fan, and has partaken in many marathons, including the Chicago and New York Marathons.</p>

<p class="individual-team-member" style="font-weight: bold;">Education:
<p class="individual-team-member">Bachelor of Business Administration, Hofstra University, Long Island, NY</br>Certified Public Accounting, licensed in Arizona and New York</p>

<p class="individual-team-member" style="font-weight: bold;">Associations and Activities:</p>
<p class="individual-team-member">Member of the New York State Society of Certified Public Accountants (NYSSCPA)</br>
Member of the Arizona Society of Certified Public Accountants (ASCPA)</br>
Member of the Entrepreneurial CPAs Network (eCPAn) </br>
Chairman of the Audit Committee and past Treasurer of Goodwill of Central and Northern Arizona </br>
</p>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
				</div>
				<div class ="pagelink">
				<p>
				<a href="/users/team">Back to Our Team</a>
				</p>
				</div>
				



        <!-- Footer -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-social">
                                <a href="https://www.facebook.com/Hopkins-Tameron-Hostal-582836651925232/" target="_blank"><i class="ion-social-facebook"></i></a>
                                <a href="https://www.linkedin.com/company/16232649/" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        
        <!-- Scripts -->
        <script src="assets/js/jquery-1.12.3.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/script.js"></script>
    </body>
</html>
