<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>HTH Team</title>

        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link href="assets/css/owl.carousel.css" rel="stylesheet">
        <link href="assets/css/owl.carousel.theme.min.css" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body data-spy="scroll" data-target="#main-navbar">

        <!-- NavigationBar Section -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">
                    <img class="img-responsive" src="../images/logo.png" alt="logo">
                  </a>
                </div>

               <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navbar">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/home#header">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="/users/home#choose">About us</a></li>
                    <li><a href="/users/home#services">Services</a></li>
                    <li><a href="#industries">Industries</a>
                     <ul class="teamdd">
                        <li><a href="/users/industries">All Industries</a></li>
                    </ul></li>
                    <li class="active"><a href="/users/home#team">Our Team</a>
                    <ul class="teamdd">
                        <li><a href="/users/team">All Team Members</a></li>
                    </ul></li>
                    <li><a href="/users/home#clients">Careers</a></li>
                    <li><a href="/users/home#contact">Contact</a></li>
                     {{#if user}}
                    <li><a href="/">Client Portal</a></li>
                    {{else}}
                    <li><a href="/users/login">Client Portal</a></li>
                    {{/if}}
                    
                  </ul>
                </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                </nav>
				            <section id="clients" class="clients">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box">
                                <h2 class="section-title">Our Team</h2>
                            </div>
                        </div>
                    </div>
            </section>
			<div class="container">
			<div class="row">
                        <div class="col-sm-4">
							<!-- <a href="/users/davehopkins"> -->
                            <div class="team-box"><!-- 
                                <!--<img class="img-responsive img-full" src="../images/team-1.jpg" alt="team"> -->
								<a href="/users/davehopkins">
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>David J. Hopkins, CPA</h3></li>
                                        <li><h4>Partner</h4></li>
                                        <br />
                                        <li><a href="mailto:dave.hopkins@azhth.com">dave.hopkins@azhth.com</a></li>
                                        <li>x1001</li>
                                    </ul>
                                </div>
                            </div> </a>
                        </div>
                        <div class="col-sm-4">
                            <div class="team-box">
                                <!-- <img class="img-responsive img-full" src="../images/team-2.jpg" alt="team"> -->
                                <a href="/users/joetameron">
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Joseph A. Tameron, CPA</h3></li>
                                        <li><h4>Partner</h4></li>
                                        <br />
                                        <li><a href="mailto:joe.tameron@azhth.com">joe.tameron@azhth.com</a></li>
                                        <li>x1002</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <a href="/users/georgehostal">
                            <div class="team-box">
                                <!-- <img class="img-responsive img-full" src="../images/team-3.jpg" alt="team"> -->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>George M. Hostal Jr., CPA</h3></li>
                                        <li><h4>Partner</h4></li>
                                        <br />
                                        <li><a href="mailto:george.hostal@azhth.com">george.hostal@azhth.com</a></li>
                                        <li>x1003</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
				<div class="container">
							<div class="row">
                        <div class="col-sm-3">
                            <div class="team-box">
                               <!-- <img class="img-responsive img-full" src="../images/team-1.jpg" alt="team"> -->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Jan Isaacson, CPA</h3></li>
                                        <br /> <br />
                                        <li><a href="mailto:jan.isaacson@azhth.com">jan.isaacson@azhth.com</a></li>
                                        <li>x1012</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="team-box">
                              <!--  <img class="img-responsive img-full" src="../images/team-2.jpg" alt="team"> -->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Elizabeth Anne Kane, CPA, MTx</h3></li>
                                        <br />
                                        <li><a href="mailto:elizabeth.kane@azhth.com">elizabeth.kane@azhth.com</a></li>
                                        <li>x1009</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="team-box">
                               <!-- <img class="img-responsive img-full" src="../images/team-3.jpg" alt="team">-->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Connie Radoff, CPA</h3></li>
                                        <br /> <br />
                                        <li><a href="mailto:connie.radoff@azhth.com">connie.radoff@azhth.com</a></li>
                                        <li>x1004</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
						  <div class="col-sm-3">
                            <div class="team-box">
                                <!-- <img class="img-responsive img-full" src="../images/team-1.jpg" alt="team"> -->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Tiffany Bisconer, CPA</h3></li>
                                        <br /> <br />
                                        <li><a href="mailto:tiffany.bisconer@azhth.com">tiffany.bisconer@azhth.com</a></li>
                                        <li>x1010</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
				<div class="container">
				<div class="row">
					  <div class="col-sm-3">
                            <div class="team-box">
                                <!-- <img class="img-responsive img-full" src="../images/team-1.jpg" alt="team"> -->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Ben Craig, CPA</h3></li>
                                        <br /> <br />
                                        <li><a href="mailto:ben.craig@azhth.com">ben.craig@azhth.com</a></li>
                                        <li>x1011</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-sm-3">
                            <div class="team-box">
                                <!-- <img class="img-responsive img-full" src="../images/team-2.jpg" alt="team"> -->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Sally George</h3></li>
                                        <br /> <br />
                                        <li><a href="mailto:sally.george@azhth.com">sally.george@azhth.com</a></li>
                                        <li>x1006</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="team-box">
                                <!-- <img class="img-responsive img-full" src="../images/team-3.jpg" alt="team"> -->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Cathy Young</h3></li>
                                        <br /> <br /> 
                                        <li><a href="mailto:cathy.young@azhth.com">cathy.young@azhth.com</a></li>
                                        <li>x1007</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-3">
                            <div class="team-box">
                                <!-- <img class="img-responsive img-full" src="../images/team-3.jpg" alt="team"> -->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Jacquie Lemarr</h3></li>
                                        <br /> <br /> 
                                        <li><a href="mailto:jacquie.lemarr@azhth.com">jacquie.lemarr@azhth.com</a></li>
                                        <li>x1005</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
					
						</div> </div>
						<div>
									<div class="container">
				<div class="row">	
                        <div class="col-sm-3">
                            <div class="team-box">
                                <!-- <img class="img-responsive img-full" src="../images/team-3.jpg" alt="team"> -->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Suzette Brayer</h3></li>
                                        <li><h4>Administration</h4></li>
                                        <br />
                                        <li><a href="mailto:suzette.brayer@azhth.com">suzette.brayer@azhth.com</a></li>
                                        <li>x1008</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
						
						 <div class="col-sm-3">
                            <div class="team-box">
                                <!-- <img class="img-responsive img-full" src="../images/team-1.jpg" alt="team"> -->
                                <div class="team-detail">
                                    <ul>
                                        <li><h3>Connie Garay</h3></li>
                                        <li><h4>Administration</h4></li>
                                        <br /> 
                                        <li><a href="mailto:connie.garay@azhth.com">connie.garay@azhth.com</a></li>
                                        <li>x1000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				</div>


                </div>

        <!-- Footer -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-social">
                                <a href="https://www.facebook.com/Hopkins-Tameron-Hostal-582836651925232/" target="_blank"><i class="ion-social-facebook"></i></a>
                                <a href="https://www.linkedin.com/company/16232649/" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        
        <!-- Scripts -->
        <script src="assets/js/jquery-1.12.3.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/script.js"></script>
    </body>
</html>
